:host {
    min-width: 60px;
    height: 100%;
    border-right: 1px solid #ccc;
    background-color: #eee;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    color: #aaa;
}

.selected {
    color: #008FFF;
}