.app-dashboard {
    height:  100%;
}

.editor-wrapper {
    height: 100%;
}

#toolbar {
    min-height: 64px;
    border-bottom: 1px solid #ccc;
}

#topbar-right {
    position: absolute;
    right: 42px;
}

#save {
    margin-right: 20px;
}

#logo {
    height: 31px;
}

.app-editor {
    height: 100%;
}