:host{
    height: 100%;
    padding: 5px;
}
:host /deep/ .mat-expansion-panel {
    box-shadow: none !important;
}

inlay-directive {
    display: block;
    border-bottom: 1px solid #c8c8c8;
}

#add-directive-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}