#dashboard-sidebar {
    max-width: 300px;
    background-color: #008FFF;
}


#dashboard-wrapper {
    height: 100%;
}
#dashboard-content {
    height: 100%;
}

#toolbar {
    min-height: 64px;
    border-bottom: 1px solid #ccc;
}

#logo {
    height: 31px;
}

#projects {
    padding: 50px;
    justify-content: space-around;
}

.project {
    width: 180px;
    height: 100px;

}

#new-project {
    position: fixed;
    right: 50px;
    bottom: 50px;
}